set -e
DIR=`pwd`

if ! [ -x "$(command -v bun)" ]; then
  PATH_add $HOME/.bun/bin
  if ! [ -x "$(command -v bun)" ]; then
    curl https://bun.sh/install | bash
  fi
fi

if ! [ -x "$(command -v cargo)" ]; then
  PATH_add $HOME/.cargo/bin
  if ! [ -x "$(command -v cargo)" ]; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  fi
fi

if ! hash watchexec 2>/dev/null; then
  cargo install watchexec-cli
fi

PATH_add $DIR/.direnv/bin

