@import './main.styl'

:global
  body
    align-items center
    background #000
    display flex
    flex-direction column
    height 100vh
    justify-content center
    width 100%

    &>b.M
      bottom 0
      display none
      left 0
      position absolute
      right 0
      top 0
