.ico
  display flex
  height 100%

  & > a
    border-right 1px solid #eee
    box-sizing border-box
    width 64px

    &.now
      background-color #f9f9f9

    &:hover
      border-bottom 3px solid #f40
