html, body
  height 100%
  margin 0
  padding 0
  width 100%

pre
  font-family M

body, textarea, input
  font-family h

body
  background transparent
  font-size 16px
  line-height 1.625
  margin 0
  overflow auto
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

a
  color #369
  text-decoration none

  &:hover
    color #f40
