a
  border-bottom 2px solid transparent
  color #333
  cursor pointer
  display inline-flex
  font-size 18px
  line-height 1.6
  margin-right 24px
  transition all 0.3s

a:hover
  border-color #f40
  color #f40
  font-weight 600
  margin-bottom 0
